Checks: "-*,readability-identifier-naming,bugprone-*"

HeaderFilterRegex: "vulkan\/.*\\.hpp"

CheckOptions:
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key:  readability-identifier-naming.ParameterCase
    value: lower_case
  
  - key: readability-identifier-naming.StaticVariablePrefix
    value: s_
  - key: readability-identifier-naming.StaticVariableCase
    value: CamelCase
  
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase

  - key: readability-identifier-naming.NamespaceCase
    value: lower_case  
  - key: readability-identifier-naming.InlineNamespaceCase
    value: lower_case 

  - key: readability-identifier-naming.UnionCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
  - key: readability-identifier-naming.TypeAliasCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase

  - key: readability-identifier-naming.AbstractClassPrefix
    value: I
  
  - key: readability-identifier-naming.MemberPrefix
    value: m_
  - key: readability-identifier-naming.MemberCase
    value: CamelCase
  
  - key: readability-identifier-naming.PublicMemberCase
    value: lower_case
  - key: readability-identifier-naming.PublicMemberPrefix
    value: ""

  - key: readability-identifier-naming.PrivateMethodPrefix
    value: _
  
  - key: readability-identifier-naming.MethodCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  
  - key: readability-identifier-naming.GlobalVariableCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalVariablePrefix
    value: g_

  - key: readability-identifier-naming.TemplateParameterCase
    value: CamelCase

  - key: readability-identifier-naming.MacroDefinition
    value: UPPER_CASE

  - key: readability-identifier-naming.LocalConstantCase
    value: lower_case

  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.GlobalConstantPrefix
    value: ""
